.list {
    display: grid;
}

.tab {
    background: transparent;
    background: rgba(255, 255, 255, .05);
    border: none;
    border-bottom: 4px solid #999;
    color: inherit;
    cursor: pointer;
    padding: 10px 20px;
    transition: color .3s ease, border-color .2s ease-in, background-color .2s ease-in;
    ;
    width: 100%;
}

.tab:hover {
    color: dodgerblue;
}

.tabActive {
    background: rgba(255, 255, 255, .075);
    border-color: dodgerblue;
    color: dodgerblue;
}