.article {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.title::before {
    background-image: url(../../../public/images/book.png);
    background-size: cover;
    content: "";
    display: inline-block;
    height: 36px;
    margin-right: 8px;
    vertical-align: middle;
    width: 36px;
}

.imageBox {
    border-radius: 1em;
    float: left;
    height: 200px;
    margin: 0 16px 16px 0;
    overflow: hidden;
    width: 200px;
}

.image {
    transition: transform .3s ease-in-out;
}

.article:hover .image {
    transform: scale(1.1);
}

.text {
    display: inline;
    line-height: 27px;
    white-space: pre-line;
}

.bottom {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    width: 100%;
}

.actions {
    align-items: center;
    display: flex;
    gap: 16px;
}

.button {
    color: inherit;
    height: 25px;
    width: 50px;
}

.button::before {
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 15px;
    line-height: 1;
    margin-right: 4px;
    vertical-align: middle;
    width: 15px;
}

.likeBtn::before {
    background-image: url(../../../public/images/like-icon.png);
}

.commentBtn::before {
    background-image: url(../../../public/images/comment-icon.png);
}

.likeBtnActive::before {
    background-image: url(../../../public/images/liked-icon.png);
}