.siteBlock {
    background-color: rgba(255, 255, 255, .075);
    border-radius: 1em;
}

.mainTitle {
    align-self: center;
    color: #EEE;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 16px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
}

.title {
    align-self: center;
    color: #EEE;
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.button {
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: .75em;
    box-shadow: 0 0 5px rgba(0, 0, 0, .35);
    color: inherit;
    cursor: pointer;
    transition: background-color .2s ease-in;
}

.button:disabled {
    color: #999;
    cursor: default;
}

.button:not(:disabled):hover {
    background: rgba(255, 255, 255, .25);
}

.button:hover {
    background: rgba(255, 255, 255, .1);
}

.smallText {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
}

.midText {
    font-size: 18px;
}