<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
  <head>
    <meta charset="<%= htmlWebpackPlugin.options.charset %>" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body id="root"></body>
</html>
