.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 16px 20px 0;
}

.title::before {
    background-image: url(../../../public/images/creeper.png);
    background-size: cover;
    content: "";
    display: inline-block;
    height: 50px;
    margin-right: 8px;
    vertical-align: middle;
    width: 30px;
}

.bars {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.totalInfo {
    text-align: center;
}

.totalInfo::before {
    content: "Общий онлайн";
    display: block;
    margin-bottom: 4px;
}