.container {
    align-items: center;
    background: rgba(255, 255, 255, .075);
    border-radius: 1em;
    color: #DDD;
    display: flex;
    flex-direction: column;
    padding: 16px 20px 0;
}

.title::before {
    background-image: url(../../../public/images/creeper.png);
    background-size: cover;
    content: "";
    display: inline-block;
    height: 50px;
    margin-right: 8px;
    vertical-align: middle;
    width: 30px;
}

.title {
    color: #EEE;
    font-size: 27px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.bars {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.totalInfo {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

.totalInfo::before {
    content: "Общий онлайн";
    display: block;
    margin-bottom: 4px;
}