.header {
    background: var(--solid-background-accent);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    max-width: 1000px;
}

.navItems {
    display: flex;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}

.navItem {
    display: inline;
}